<div class="outerbox" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2%">
  <div fxFlex="5%">

  </div>
<div class="componentBox" fxFlex="95%">
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <div fxLayout="column" fxLayoutGap="4%" class="Title">
    <div fxFlex="2%"></div>
    <div fxFlex="3%">
    <a> Registration Form</a>
    </div>
<div fxFlex="16%">
<mat-form-field appearance="standard" floatLabel="never" class="inputBox" hintLabel="Minimum Username Length is 4">
  <mat-label>Username</mat-label>
  <input matInput type="text" formControlName="userName">
  <mat-error *ngIf="registrationForm.get('userName').errors?.minlength">Minimum Length is 4</mat-error>
  <mat-error *ngIf="registrationForm.get('userName').errors?.required">You Must fill in the Username</mat-error>
</mat-form-field>
</div>
  <div fxFlex="16%">
    <mat-form-field appearance="standard" floatLabel="never" class="inputBox">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email">
      <mat-error *ngIf="registrationForm.get('email').errors?.email && registrationForm.get('email').touched" >Wrong Email Format</mat-error>
      <mat-error *ngIf="registrationForm.get('email').errors?.required && registrationForm.get('email').touched">You Must fill in the email</mat-error>
    </mat-form-field>
  </div>
  <div  fxFlex="16%">
    <mat-form-field appearance="standard" floatLabel="never" class="inputBox">
      <mat-label>Birthdate</mat-label>
      <input matInput type="date" formControlName="birthDate">
      <mat-error *ngIf="registrationForm.get('birthDate').errors?.required && registrationForm.get('birthDate').touched" >Please insert your Birthdate</mat-error>
    </mat-form-field>
  </div>
  <div  fxFlex="13%">
    <mat-form-field appearance="standard" floatLabel="never" class="inputBox" hintLabel="Password must be 8 Characters Long">
      <mat-label>Password</mat-label>
      <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
      <input matInput type="password" [type]="toggle.type" formControlName="password" #password>
      <mat-error *ngIf="registrationForm.get('password').errors?.required && registrationForm.get('password').touched" >Please create a password</mat-error>
      <mat-error *ngIf="registrationForm.get('password').errors?.minlength && registrationForm.get('password').touched" >Minimal Password Length is 8</mat-error>
    </mat-form-field>
    <br>
  </div>
    <div fxFlex="3%">
      <div style="width: 20%;padding-left: 40%">
      <mat-password-strength [min]="8" [enableSpecialCharRule]="false" #passwordComponent [password]="password.value" (onStrengthChanged)="onStrengthChanged($event)">
      </mat-password-strength>
        <mat-password-strength-info [enableScoreInfo]="true"
          [passwordComponent]="passwordComponent">
        </mat-password-strength-info>
      </div>
    </div>
  <div  fxFlex="16%">
    <mat-form-field appearance="standard" floatLabel="never" class="inputBox" hintLabel="Insert the Previously Inserted Password">
      <mat-label>Confirm Password</mat-label>
      <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
      <input matInput type="password" [type]="toggle.type" formControlName="confirmPassword">
      <mat-error *ngIf="registrationForm.get('confirmPassword').errors?.required && registrationForm.get('password').touched" >Please insert the created password</mat-error>
      <mat-error *ngIf="registrationForm.get('confirmPassword').errors?.notmatch && registrationForm.get('password').touched" >Password doesnt Match</mat-error>
    </mat-form-field>
  </div>
  <div  fxFlex="10%" STYLE="margin-bottom: 3%">
  <button class="inputBox" mat-raised-button [disabled]="registrationForm.invalid" type="submit" color="primary"> Register </button>
  </div>
    <div fxFlex="5%">

    </div>
</div>
</form>
</div>
</div>

